
<!-- navbar-->
<nav class="navbar is-fixed-top box-shadow-y">

  <div class="navbar-brand">
    <!-- <a href="javascript: void(0)" class="navbar-burger burger" [ngClass]="isclicked ? 'navbar-burger burger is-active' :'navbar-burger burger '"   >
      <span></span><span></span><span></span><span></span><span></span>
      <span></span>
      <span></span>
      <span></span>
    </a> -->
<a href="#" class="navbar-item has-text-weight-bold has-text-black" >Akanton Eray Sitesi Yönetim Paneli</a>

<a href="javascript: void(0)" class="navbar-burger burger" [ngClass]="isclicked ? 'navbar-burger burger is-active' :'navbar-burger burger '" (click)="toggle($event)" >
  <span></span><span></span><span></span>
  <span></span><span></span><span></span><span></span>
  <span></span>
  <span></span>
</a>

  </div>

  <div class="navbar-menu has-background-white" [ngClass]="isclicked ? 'navbar-menu has-background-white is-active' :'navbar-menu has-background-white'">
    <div class="navbar-start" *ngIf="isclicked">
      <a class="navbar-item" routerLinkActive="is-active" routerLink="admin/showcase" *ngIf="this.service.currentUser$ | async">Gündem Köşesi</a>
      <a class="navbar-item"  routerLinkActive="is-active" routerLink="admin/director" *ngIf="this.service.currentUser$ | async"> Yönetim Kurulu Sayfası</a>
      <a class="navbar-item"  routerLinkActive="is-active" routerLink="admin/blockdirector" *ngIf="this.service.currentUser$ | async">Temsilciler Kurulu Sayfası</a>
      <a class="navbar-item" routerLinkActive="is-active" routerLink="admin/job" *ngIf="this.service.currentUser$ | async">Görev Tanımlama Sayfası</a>
      <a class="navbar-item" routerLinkActive="is-active" routerLink="admin/usefullinks" *ngIf="this.service.currentUser$ | async">Yararlı Linkler Sayfası</a>
      <a class="navbar-item" routerLinkActive="is-active" routerLink="admin/contact" *ngIf="this.service.currentUser$ | async">Bize Ulaşın Mesajları Sayfası</a>
    </div>

    <!-- <div class="navbar-end">
      <a href="#" class="navbar-item">Notifications</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="#" class="navbar-link">1st</a>
        <div class="navbar-dropdown">
          <a href="#" class="navbar-item">Profile</a>
          <a href="#" class="navbar-item">Settings</a>
          <hr class="navbar-divider">
          <a href="#" class="navbar-item">Log Out</a>
        </div>
      </div>
    </div> -->
  </div>

</nav>

<!-- navbar -end-->

<!--sidebar-->

<div class="columns is-variable is-0">
  <div>
    <div class="menu-container px-1 has-background-white custom-bg">
      <div class="menu-wrapper py-1">
        <aside class="menu">

          <ul class="menu-list">

          </ul>
          <p class="menu-label">

            Yönetim Paneli
          </p>
          <ul class="menu-list">
            <li>
              <a class="has-background-primary" *ngIf="this.service.currentUser$ | async">

                İçerik Düzenleme Sayfaları</a>
              <ul>
                <li><a routerLinkActive="is-active" routerLink="admin/showcase" *ngIf="this.service.currentUser$ | async">
                  <i class="fas fa-solid fa-industry"></i>
                  Gündem Köşesi</a></li>
                <li><a routerLinkActive="is-active" routerLink="admin/director" *ngIf="this.service.currentUser$ | async">
                  <i class="fas fa-thin fa-address-card"></i>
                  Yönetim Kurulu Sayfası</a></li>
                <li><a routerLinkActive="is-active" routerLink="admin/blockdirector" *ngIf="this.service.currentUser$ | async">
                  <i class="fas fa-thin fa-network-wired"></i>
                  Temsilciler Kurulu Sayfası</a></li>
                <li><a routerLinkActive="is-active" routerLink="admin/job" *ngIf="this.service.currentUser$ | async">
                  <i class="fas fa-solid fa-file"></i>
                  Görev Tanımlama Sayfası</a></li>
                <li><a routerLinkActive="is-active" routerLink="admin/usefullinks" *ngIf="this.service.currentUser$ | async">
                  <i class="fas fa-solid fa-tags"></i>
                  Yararlı Linkler Sayfası</a></li>
                <li>

                  <a routerLinkActive="is-active" routerLink="admin/contact" *ngIf="this.service.currentUser$ | async">
                    <i class=" fas fa-thin fa-envelope"></i>
                    Bize Ulaşın Mesajları Sayfası</a></li>
                    <li>

                      <a routerLinkActive="is-active" routerLink="admin/contact" (click)="logout()" *ngIf="this.service.currentUser$ | async" >
                        <i class=" fas fa-thin fa-user"></i>
                        Çıkış</a></li>

                <li><a routerLinkActive="is-active" routerLink="admin/login" *ngIf="!(this.service.currentUser$ | async)">Login</a></li>
              </ul>
            </li>


          </ul>

        </aside>
      </div>
    </div>
  </div>
  <div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile">



    <router-outlet></router-outlet>
  </div>


</div>

<!--sidebar -end-->


