
<!-- <header>
  <h3>DashBoard Component</h3>
</header> -->

<div class="page-wrapper">
  	<!-- Header -->
    <app-header></app-header>

<!-- Banner -->
<div id="banner-wrapper" style="position: relative;background: #c8d2bc;">

  <div class="container">

   <div id="banner"  [style.background-image]="backgroundImg"  [ngStyle]="{'transition':' background-image 0.9s ease-in-out'}" >
    <h2>Eray Sitesi </h2>
    <span>Ayaklarınızın altındaki yumuşak kum, sizi kıyılarında dolaşmaya çağırıyor...</span>

   </div>


  </div>
</div>


			<!-- Main -->
      <router-outlet></router-outlet>

      <!-- Footer -->
      <app-footer></app-footer>



</div>

