
<!-- <header>
  <h3>DashBoard Component</h3>
</header> -->

<div class="page-wrapper">
  	<!-- Header -->
    <app-header></app-header>

<!-- Banner -->
<div id="banner-wrapper" style="position: relative;">

  <div class="container">

    <div id="banner">


      <h2>Ada Kanton Eray Sitesi</h2>
      <span>And put something almost as cool here, but a bit longer ...</span>
    </div>


  </div>
</div>


			<!-- Main -->
      <router-outlet></router-outlet>

      <!-- Footer -->
      <app-footer></app-footer>



</div>

