<section class="hero" id="about-us">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h4 class="main_title title is-4"> {{ 'ADVERTISE.RentalHeader' | translate }} </h4>
      </div>
      <div class="columns content">
        <div class="column">
          <p>
            {{ 'ADVERTISE.RentalDesc' | translate }}

          </p>
          <div class="reception">

            <div class="reception-item">
              <div>
                <div>
                  <i class="fa fa-phone"></i> &nbsp;
                  <span>  {{ 'ADVERTISE.RentalContact' | translate }}  </span>
                </div>
                <a href="tel:+905553449444">+90 (555) 344-94-44</a>
              </div>
              <a href="tel:+905553449444" class="button mobile-only">
                <span>Call</span>
              </a>
            </div>

          </div>
        </div>
        <!-- Reception Image -->
        <div class="column reception-image">
          <img
            src="../../assets/images/advert/advert_1.jpg"
            alt="Ada Kanton"
          />
        </div>
      </div>
      <div class="content">
        <h5 class="main_title title is-5"> {{ 'ADVERTISE.RentalDetail' | translate }} </h5>
        <p>
          {{ 'ADVERTISE.RentalDesc' | translate }}
        </p>
        <ul>
          <li>            {{ 'ADVERTISE.FirstFloor' | translate }}  </li>
          <li> {{ 'ADVERTISE.RoomBath' | translate }} </li>
          <li>  {{ 'ADVERTISE.meter' | translate }}  </li>
          <li> {{ 'ADVERTISE.Deposit' | translate }} </li>

        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">

<app-image-slider></app-image-slider>

  </div>
  </section>
