<div id="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-8 col-12-medium">


          <h2>Faydalı Linkler</h2>

            <div style="text-decoration:underline;color:#5d93a2;cursor: pointer !important;" class="row" [innerHTML]="getDynamicTemplate()">
            </div>



      </div>
      <div class="col-4 col-12-medium">


      </div>
    </div>
    <div class="row" style="margin-top: 1px;">
      <div class="col-12">

        <div id="copyright">
          © Tüm hakları saklıdır.
        </div>

      </div>
    </div>
  </div>

</div>
