#footer-wrapper {
  background: #c8d2bc url(../../../assets/images/bg1.png);
  padding: 20px 0;
  position: relative;
}

ul {
  padding: 0.25em 0 0 0;
  letter-spacing: -1px;
  border-bottom: solid 1px #ced0b7;
  padding: 0.75em 0 0 0;
  margin: 0.75em 0 0 0;
  overflow: hidden;
  margin-bottom: 1.5em;
}
a {
  color: #5d93a2;
  text-decoration: underline wavy  #5d93a2 !important;
  font-size: 1.2rem;
}

  a:hover {
    text-decoration: underline wavy  #5d93a2 !important;
  }

* > p:last-child {
  margin-bottom: 0 !important;
}

ul.link-list li {
  border-bottom: solid 1px #A6A88F;
  padding: 0.75em 0 0 0;
  margin: 0.75em 0 0 0;
  line-height: 3rem;
}
