<!-- <div id="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-8 col-12-medium">


          <h2>Faydalı Linkler</h2>

            <div style="text-decoration:underline;color:#5d93a2;cursor: pointer !important;" class="row" [innerHTML]="getDynamicTemplate()">
            </div>



      </div>
      <div class="col-4 col-12-medium">


      </div>
    </div>
    <div class="row" style="margin-top: 1px;">
      <div class="col-12">

        <div id="copyright">
          © Tüm hakları saklıdır.
        </div>

      </div>
    </div>
  </div>

</div> -->


<footer class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="content">
            <h6 class="footer_title title is-6"> {{'TEXT.UsefulLink' | translate}} </h6>
            <div class="newsletter" [innerHTML]="getDynamicTemplate()">

            </div>
          </div>
        </div>
        <div class="column is-4" style="text-align: center;">
          <div class="content">
            <div>
              <h6 class="footer_title title is-6"> {{'TEXT.SOCIALMEDIA' | translate}}</h6>
              <p> {{'TEXT.SOCIALMEDIATEXT' | translate}} </p>
              <a class="button is-medium is-facebook" target="_blank" href="https://m.facebook.com/profile.php?id=131741284084347">
                <span class="icon">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </span>
              </a>
              <!-- <a class="button is-medium is-foursquare">
                <span class="icon">
                  <i class="fab fa-foursquare fa-lg"></i>
                </span>
              </a> -->
              <!-- <a class="button is-medium is-twitter">
                <span class="icon">
                  <i class="fab fa-twitter fa-lg"></i>
                </span>
              </a> -->
              <!-- <a class="button is-medium is-linkedin">
                <span class="icon">
                  <i class="fab fa-linkedin-in fa-lg"></i>
                </span>
              </a> -->
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="content">
            <h6 class="footer_title title is-6">{{'TEXT.ADDRESS' | translate}} </h6>
            <p class="is-marginless">Karaova, 1643 ada No:3/7 </p>
            <p class="is-marginless">09400 Kuşadası/Aydın</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container has-text-centered">
      <p class="footer-text">
        &copy; {{ currentYear }} - {{ 'TEXT.AdaKantonEraySite' | translate }}. {{'TEXT.AllRightReserved' | translate}}. <br />
        <!-- <a href="https://www.aldiduzha.com?utm_source=Github" style="color: white;"
          >Designed with <i class="fa fa-heart fa-fw" style="font-size: 10px; color: red;"></i> by Aldi Duzha</a -->

      </p>
    </div>
  </div>
</footer>
