
    <div id="header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <header id="header">
              <h1><a  href="#"  routerLinkActive="current-page-item" routerLink="dashboard" id="logo">Ada Kanton  </a></h1>
              <nav id="nav">
                <a href="#"  routerLinkActive="current-page-item" routerLink="dashboard" >anasayfa</a>
                <a href="#"  routerLinkActive="current-page-item" routerLink="director">yönetim kurulu</a>
                <a href="#" routerLinkActive="current-page-item" routerLink="block">temsilciler kurulu</a>
                <a href="#" routerLinkActive="current-page-item" routerLink="contact">bize ulaşın</a>
              </nav>
            </header>

          </div>
        </div>
      </div>
    </div>
