
    <div id="header-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <header id="header">
              <h1><a href="index.html" id="logo">Ada Kanton  </a></h1>
              <nav id="nav">
                <a href="#"  routerLinkActive="current-page-item" routerLink="dashboard" class="current-page-item">anasayfa</a>
                <a href="#"  routerLinkActive="current-page-item" routerLink="director">yönetim kurulu</a>
                <a href="twocolumn1.html">temsilciler kurulu</a>
                <a href="twocolumn2.html">bize ulaşın</a>
                <a href="onecolumn.html">One Column</a>
                <a href="threecolumn.html">Three Column</a>
              </nav>
            </header>

          </div>
        </div>
      </div>
    </div>
