
  <!-- Rooms Section -->
  <section class="hero" id="rooms">
    <div class="hero-body">
      <div class="container">

        <app-showroom></app-showroom>

      </div>
    </div>
  </section>
  <!-- ./Rooms Section -->
  <section class="section" *ngIf="this.adminService.weathers$ | async">
    <div class="container">
        <div class="columns" style="justify-content: space-evenly;" *ngIf="weathers[1] && weathers[0]" >

          <app-weather
          [CityName]='this.weathers[1].location ? this.weathers[1].location.name : undefined '
          [lat]='this.weathers[1].location ? this.weathers[1].location.lat : undefined '
          [lon]='this.weathers ? this.weathers[1].location?.lon : undefined'
          [temp]='this.weathers ? this.weathers[1].current?.temp_c : undefined'
          [windKph]='this.weathers ? this.weathers[1].current?.wind_kph : undefined'
          [humidity]='this.weathers ? this.weathers[1].current?.humidity : undefined'
          [windDirection]='this.weathers[1].current!.wind_dir!  '

          ></app-weather>

          <app-weather
          [CityName]=' this.weathers[0].location ?  this.weathers[0].location.name : undefined'
          [lat]='this.weathers[0].location ?  this.weathers[0].location.lat : undefined'
          [lon]='this.weathers ?  this.weathers[0].location?.lon : undefined'
          [temp]='this.weathers ? this.weathers[0].current?.temp_c:undefined'
          [windKph]='this.weathers ? this.weathers[0].current?.wind_kph : undefined'
          [humidity]='this.weathers ? this.weathers[0].current?.humidity : undefined'
          [windDirection]='this.weathers[0]!.current!.wind_dir!'></app-weather>

          <app-currency></app-currency>
        </div>
      </div>
    </section>



   <!-- About Section -->
   <section class="hero" id="about-us">
    <div class="hero-body">
      <div class="container">
        <div class="content">
          <h4 class="main_title title is-4"> {{ 'ADVERTISE.RentalHeader' | translate }} </h4>
        </div>
        <div class="columns content">
          <div class="column">
            <p>
              {{ 'ADVERTISE.RentalDesc' | translate }}

            </p>
            <div class="reception">

              <div class="reception-item">
                <div>
                  <div>
                    <i class="fa fa-phone"></i> &nbsp;
                    <span>  {{ 'ADVERTISE.RentalContact' | translate }}  </span>
                  </div>
                  <a href="tel:+905553449444">+90 (555) 344-94-44</a>
                </div>
                <a href="tel:+905553449444" class="button mobile-only">
                  <span>Call</span>
                </a>

              </div>
              <div class="reception-link">
                <a class="button is-primary open-modal" href="#" routerLink="/advert">{{ 'ADVERTISE.AdvertDetails' | translate}} >></a>
              </div>
            </div>
          </div>
          <!-- Reception Image -->
          <div class="column reception-image">
            <img
              src="../../assets/images/advert/advert_1.jpg"
              alt="Ada Kanton"
            />
          </div>

        </div>

        <div class="content">



        </div>
      </div>
    </div>
  </section>


  <!-- <router-outlet></router-outlet> -->

  <!-- ./About Section -->

     <!-- Contact Us Section -->



<!-- <div id="main" style="position: relative;">
  <div class="bg-video">
    <video class="bg-video__content" autoplay [muted]="'muted'" loop>
      <source src="../../../assets/video_mp4.mp4" type="video/mp4">
      <source src="../../../assets/video_webm.webm" type="video/webm">
  </video>

  </div>
  <div class="container">

    <div class="row main-row">
      <div class="col-12">
          <app-showroom></app-showroom>

      </div>

    </div>
    <div class="row main-row">
      <div  class="col-12" >

      </div>
    </div>
    <div class="row main-row">
      <div class="col-3 col-12-medium">
        <section>
          <h2>Hava durumu</h2>
        <section *ngIf="this.adminService.weathers$ | async">
          <app-weather
          [CityName]='this.weathers ? this.weathers[1]?.location?.name : undefined '
          [lat]='this.weathers ? this.weathers[1]?.location?.lat : undefined '
          [lon]='this.weathers ? this.weathers[1]?.location?.lon : undefined'
          [temp]='this.weathers ? this.weathers[1]?.current?.temp_c : undefined'
          [windKph]='this.weathers ? this.weathers[1]?.current?.wind_kph : undefined'


          ></app-weather>
        </section>
        <section *ngIf="this.adminService.weathers$ | async">
          <app-weather
          [CityName]=' this.weathers ?  this.weathers[0]!.location!.name : undefined'
          [lat]='this.weathers[0]!.location!.lat'
          [lon]='this.weathers[0]!.location!.lon'
          [temp]='this.weathers[0]!.current!.temp_c'
          [windKph]='this.weathers[0]!.current!.wind_kph'
          [humidity]='this.weathers[0].current.humidity'
          [windDirection]='this.weathers[0]!.current!.wind_dir!'></app-weather>
        </section>

      </section>

      </div>
      <div class="col-6 col-12-medium imp-medium">

        <section class="middle-content">

          <app-currency></app-currency>
          <div style="width: 100%;height: 100px;"></div>
          <article class="message is-info">
            <div class="message-body">
              <p> <strong>Eray Sitesi </strong>  tarafından içeriği desteklenen internet sitemizden yönetimimiz çalışma ve faaliyetleri hakkında bilgi sahibi olabilir, iletişim bilgilerimizden yönetimimize ulaşabilirsiniz.</p>
            </div>
          </article>

        </section>

        <router-outlet></router-outlet>

      </div>
      <div class="col-3 col-12-medium">



        <section>
          <h2>ilan köşesi</h2>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="../../assets/images/advert/advert_1.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/assets/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                <a href="#">#responsive</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
        </section>

        <section>
          <h2 style="text-transform: uppercase;">ATATÜRK</h2>
          <ul class="small-image-list">
            <li>
              <a href="https://kemalataturk.net/" target="_blank"><img src="../../assets/images/ataturk.webp" alt="ataturk" class="left" /></a>
              <h4>Mustafa Kemal Atatürk</h4>

            </li>
          </ul>

        </section>
    </div>

  </div>

</div> -->
