<div class="p-1 top-20">

  <div class="card">
   <header class="card-header">
     <p class="card-header-title">
       Eray Sitesi Temsilciler Kurulu Tanımlama Sayfası
     </p>

   </header>
   <div class="card-content">
    <form novalidate [formGroup]="blockDirectorForm">


      <app-text-input
       [formControl]='blockDirectorForm.controls["firstName"]'
       [placeholder]="'Adı'"
       [label]="'Adı'"
       [requiredMessage]="'Adı bilgisi zorunludur'"
        [minlength]='"3"' [maxlength]='"35"'></app-text-input>

        <app-text-input
        [formControl]='blockDirectorForm.controls["secondName"]'
        [placeholder]="'Soyadı'"
        [label]="'Soyadı'"
        [requiredMessage]="'Soyad bilgisi zorunludur'"
         [minlength]='"1"' [maxlength]='"40"'></app-text-input>

         <div class="field">
          <label class="label">Görev Adı</label>
          <div class="control">
         <div class="select is-rounded">
          <select (change)="onChange($event)" >
            <option selected value="0">-- Seçiniz --</option>
            <option *ngFor="let item of avaliableJobs" [value]="item.id">{{item.title}}</option>
          </select>
        </div>
      </div>
      </div>

      <div class="field">
        <label class="label">Görev Aldığı Ada</label>
        <div class="control">
       <div class="select is-rounded">
        <select (change)="onIslandChange($event)" >
          <option selected value="0">-- Seçiniz --</option>
          <option *ngFor="let item of avaliableIslands" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    </div>


    </form>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <div class="control">
      <button class="button is-primary" type="submit" (click)="onSubmit()" [disabled]="blockDirectorForm.invalid" >Kaydet</button>
    </div>
    </div>
  </footer>
 </div>

 <section class="section">
  <div class="container">
    <div class="b-table">
      <div class="table-wrapper has-mobile-cards">
        <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
          <thead>
          <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Blok</th>
            <th>Görevi</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of avaliableBlockDirectors">
            <td data-label="Name">{{ item.name }} </td>
            <td data-label="Name">{{ item.surname }} </td>
            <td data-label="Name">{{ item.islandName }} </td>
            <td data-label="Name">{{ item.jobTitle }} </td>

            <td class="is-actions-cell">
              <div class="buttons is-right">
                <button class="button is-small is-danger jb-modal" (click)="deleteBlockDirector(item.id)" data-target="sample-modal" type="button">
                  <span class="icon"><i class="mdi mdi-trash-can"></i>Sil</span>
                </button>
              </div>
            </td>
          </tr>






          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


</div>

