<div class="card" *ngIf="directors">
  <header class="card-header">
    <p class="card-header-title is-centered">
      {{directors[0].islandName}}
    </p>

  </header>
  <div class="card-content">
    <div class="content">
      <table class='table is-bordered is-hoverable'>
        <thead>
          <tr>
            <th> {{ 'TEXT.Name' | translate }} </th>
            <th>{{ 'TEXT.Surname' | translate }}</th>
            <th>{{ 'TEXT.JobTitle' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of directors">
            <td>{{item.name}}</td>
            <td>{{item.surname}}</td>
            <td>{{item.jobTitle}}</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>

</div>
