<div class="container" >
  <div class="row main-row">
    <div class="col-12">

      <div class='container has-text-centered' >
        <div class='columns is-mobile is-centered'>
          <div class='column is-8' >
            <div>
              <h1 class='title'> {{ 'NAVIGATION.BlockDirector' | translate }} </h1>
              <hr>
            </div>

              <app-cardview [directors]="firstBlockDirectors"></app-cardview>
            <section>
              <hr/>
            </section>


            <app-cardview [directors]="secondBlockDirectors"></app-cardview>
            <section>
              <hr/>
            </section>

            <app-cardview [directors]="thirdBlockDirectors"></app-cardview>

            <section>
              <hr/>
            </section>

          </div>
        </div>
      </div>

    </div>

  </div>

  </div>
