<div class="p-1 top-20">
  <div class="columns is-variable is-desktop">
    <div class="column">
      <h1 class="title">Login Form</h1>
    </div>
  </div>
<div class="columns is-variable is-desktop">
  <div class="column">
    <div class="card has-background-primary has-text-white">
      <div class="card-header">
        <div class="card-title">
          Top Seller Total
        </div>
        <div class="card-content">
          <p class="is-size-3">5d</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card has-background-warning has-text-black">
      <div class="card-header">
        <div class="card-title">
          Top Seller Total
        </div>
        <div class="card-content">
          <p class="is-size-3">5d</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card has-background-warning has-text-black">
      <div class="card-header">
        <div class="card-title">
          Top Seller Total
        </div>
        <div class="card-content">
          <p class="is-size-3">5d</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns is-variable">
  <div class="column is-4-desktop is-6-tablet">
    <article class="message is-primary">
      <div class="message-header">
        <p>Primary</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
  </div>

  <div class="column is-4-desktop is-6-tablet">
    <article class="message is-primary">
      <div class="message-header">
        <p>Primary</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
  </div>

  <div class="column is-4-desktop is-6-tablet">
    <article class="message is-primary">
      <div class="message-header">
        <p>Primary</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </article>
  </div>
</div>




</div>

<form novalidate [formGroup]="loginForm">

<div class="columns is-mobile is-centered">

  <div class="column is-half">
    <div class="field">
      <label class="label">Kullanıcı Adı</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Kullnıcı adı" formControlName="username" required>

        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Şifre</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="password" placeholder="*******" formControlName="password" required>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <p class="help is-success">This username is available</p>
    </div>


    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" [disabled]="loginForm.invalid" (click)="login()">Giriş</button>
      </div>

    </div>


  </div>
</div>
</form>
