<div class="p-1 top-20">
  <div class="columns is-variable is-desktop">
    <div class="column">
      <h1 class="title">Login Form  </h1>
    </div>
  </div>



</div>

<form novalidate [formGroup]="loginForm">

<div class="columns is-mobile is-centered">

  <div class="column is-half">
    <div class="field">
      <label class="label">Kullanıcı Adı</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Kullnıcı adı" formControlName="username" required>

        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Şifre</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="password" placeholder="*******" formControlName="password" required>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <p class="help is-success">This username is available</p>
    </div>


    <div class="field is-grouped">
      <div class="control">

        <button class="button is-block is-info is-large is-fullwidth"  [disabled]="loginForm.invalid" (click)="login()">Giriş </button>
      </div>

    </div>


  </div>
</div>


</form>


