<div class="p-1 top-20">

  <div class="card">
   <header class="card-header">
     <p class="card-header-title">
       Eray Sitesi Bize Ulaşın Sayfası
     </p>

   </header>
   <div class="card-content">

  </div>

 </div>

 <section class="section">
  <div class="container">
    <div class="b-table">
      <div class="table-wrapper has-mobile-cards">
        <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
          <thead>
          <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Blok</th>
            <th>Görevi</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of avaliableContacts">
            <td data-label="Name">{{ item.name }} </td>
            <td data-label="Name">{{ item.surname }} </td>
            <td data-label="Name">{{ item.email }} </td>
            <td data-label="Name">{{ item.description }} </td>

            <td class="is-actions-cell">
              <div class="buttons is-right">
                <button class="button is-small is-danger jb-modal" (click)="deleteContactRecord(item.id)" data-target="sample-modal" type="button">
                  <span class="icon"><i class="mdi mdi-trash-can"></i>Sil</span>
                </button>
              </div>
            </td>
          </tr>






          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>




</div>
<section class="section">
  <div class="container">
      <h3 class="is-size-3 has-text-centered">
          <strong>Let s connect</strong>
      </h3>

          <div class="box">
              <div class="columns">
                  <div class="column">
                      <img src="img/undraw_mobile_inbox_3h46.svg" style="height: 80%;">
                      <p class="has-text-black paragraph has-text-centered" style="padding-top: 10px;">
                          One of our team members will contact you soon  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>

                      </p>
                  </div>

                  <div class="column">
                      <div class="field">
                          <label class="label">Name</label>
                          <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                          </div>
                        </div>

                        <div class="field">
                          <label class="label">Email</label>
                          <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Email input">
                            <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                            </span>

                        </div>

                        <div class="field">
                          <label class="label">Subject</label>
                          <div class="control">
                              <input class="input" type="text" placeholder="Type subject">
                            </div>
                        </div>

                        <div class="field">
                          <label class="label">Message</label>
                          <div class="control">
                            <textarea class="textarea" placeholder="Text area"></textarea>
                          </div>
                        </div>

                        <div class="field">
                          <div class="control">
                            <label class="checkbox">
                              <input type="checkbox">
                              I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>


                        <div class="field is-grouped">
                          <div class="control">
                            <button class="button is-link">Submit</button>
                          </div>
                          <div class="control">
                            <button class="button is-link is-light">Cancel</button>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
  </div>
</div></section>
