
<table>
  <caption>Döviz Kurları</caption>
  <thead>
    <tr>
      <th scope="col">Döviz cinsi</th>
      <th scope="col">Alış</th>
      <th scope="col">Satış</th>

    </tr>
  </thead>
  <tbody>
    <tr >
      <td data-label="Account">USD</td>
      <td data-label="Due Date">{{currencies.askUSD}}</td>
      <td data-label="Amount">{{currencies.bidUSD}}</td>
    </tr>
    <tr >
      <td data-label="Account">EUR</td>
      <td data-label="Due Date">{{currencies.askEUR}}</td>
      <td data-label="Amount">{{currencies.bidEUR}}</td>
    </tr>
    <tr >
      <td data-label="Account">YEN</td>
      <td data-label="Due Date">{{currencies.askJPY}}</td>
      <td data-label="Amount">{{currencies.bidJPY}}</td>
    </tr>

  </tbody>
</table>
